@charset "UTF-8";

body {
    background-image:url(paisa.jpg) ;
}

h1 {
    text-align: center;
}

p {
    background-color: lightslategray;
    border: 2px solid black;
    border-radius: 8px;
    text-align: justify;
    text-indent: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    
}